<footer class="footer">
  <p>
    <a
      href="https://github.com/PierreGronnier"
      target="_blank"
      class="github-link"
    >
      <img src="/icon/github.png" alt="GitHub" class="github-icon" />
    </a>
    Pierre Gronnier 2025 - Odin Drive
  </p>
</footer>
