<% if (typeof success !== 'undefined' && success) { %>
<div class="message success" data-auto-dismiss="5000">
  <i class="message-icon">✓</i>
  <%= success %>
</div>
<% } %> <% if (typeof error !== 'undefined' && error) { %>
<div class="message error" data-auto-dismiss="5000">
  <i class="message-icon">✗</i>
  <%= error %>
</div>
<% } %>
