<h1>You are already logged in!</h1>
<%- include('partials/shared/messages') %>
<p>
  You are already authenticated. You can access your
  <a href="/dashboard">Dashboard</a> or <a href="/auth/logout">log out</a>.
</p>
