<div class="already-loggedin">
  <div class="auth-box">
    <h1>You are already logged in!</h1>

    <p>
      You are already authenticated. You can access your
      <a href="/dashboard">Dashboard</a> or <a href="/auth/logout">log out</a>.
    </p>
  </div>
</div>
