<div class="dashboard-content">
  <h1 class="dashboard-title">Bienvenue sur Odin Drive !</h1>
  <p class="dashboard-text">
    Vous êtes connecté avec succès à votre espace personnel.
  </p>
  <a href="/auth/logout"
    ><button class="dashboard-button">Se déconnecter</button></a
  >
</div>
